@use '../abstracts' as *;

.container {
	width: min(100% - 1rem, 1280px);
	margin-inline: auto;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.flow {
	margin-top: var(--flow-spacer, 1rem);
}

.text-uppercase {
	text-transform: uppercase;
}
