@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

$font-family: 'Nunito Sans', sans-serif;
$font-weights: 300, 400, 600, 800;
$line-heights: (
	0: 44px,
	1: 33px,
	2: 26px,
	3: 22px,
	4: 20px,
	5: 16px,
);
